#include ".config/Colorschemes/dracula-256.Xresources"

Xft.dpi:                        109
URxvt*termName:                 rxvt-256color
URxvt*font:                     xft:DejaVu Sans Mono:pixelsize=14
URxvt.depth:                    0
URxvt*lineSpace:                1
!URxvt.letterSpace:              -1
URxvt.iso14755:                 false
URxvt.iso14755_52:              false
URxvt*geometry:                 65x17
URxvt.scrollBar:                false
URxvt*loginShell:               true
URxvt.internalBorder:           25
URxvt.perl-ext-common:          default,clipboard
URxvt.keysym.Shift-Control-C:   perl:clipboard:copy
URxvt.keysym.Shift-Control-V:   perl:clipboard:paste
URxvt.clipboard.autocopy:       true
URxvt.geometry:					80x24

